@media (min-width: @screen-md-min) {
}
#banner {
  height: 100%;
  width: 100%:
  background-size:100%;
}

#buttons{
  padding-top: 10px;
}
#resetButton {
  padding-right: :15px;
}
#header{
  padding-bottom: 10px;
}
#datetimepicker {
  language: 'en';
  pick12HourFormat: true;
}
