#wrapper{
    border: 2px solid rgba(144, 203, 219, 0.5);
    max-width: 910px;
}

#header{
    border: 2px solid rgba(144, 203, 219, 0.5);
    height: 84px;
    margin: 6px;
    background: url("clouds.jpg") repeat-x center;
}

#menu{
    padding-left: 4px;
    padding-right: 4px;
    float: left;
}

#content{
    float: left;
    padding-right: 10px;
    font-family: sans-serif;
}

#content table, th, td{
    border: 2px solid rgba(144, 203, 219, 0.5);
}

h2{
    padding: 4px 6px;
    margin: 0;
    background-color: #90cbdb;
    color: white;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight:bold;
}

#news{
    border: 2px solid rgba(144, 203, 219, 0.5);
    font-family: sans-serif;
    float: right;
}

#news p{
    padding-left: 4px;
    padding-right: 2px;
}

#copyright{
    clear: both;
}

#menu a{
    margin: 1px;
    padding: 6px;
    background-color: #90cbdb;
    color: white;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

@media screen and (min-width: 880px){
    #menu a{
        display: block;
    }
    #news{
        float: left;
    }
    #content{
        width: 60%;
    }
    #content h2, #content p{
        width: 99%;
    }
    .homeSide{
        width: 18%;
    }
    .bookingSide{
        width: 12%;
    }
}

@media not screen and (min-width: 880px){
    #menu{
        width: 100%;
    }
    #menu a{
        width: 15%;
        float: left;
    }
}

#menu a:link {
    text-decoration: none;
}

#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a:active {
    text-decoration: underline;
}

#copyright{
    background-color: #90cbdb;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 6px;
}